<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>
</div>

<!--
  うまくいかない
https://angular.io/start#pass-data-to-a-child-component
~/projects/angular-fg93mc
❯ ng generate component product-alerts
An unhandled exception occurred: Cannot set property global of #<Object> which has only a getter
See "/tmp/ng-y2SHfI/angular-errors.log" for further details.
-->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
